.camera-icon{
    font-size: 48px;
    margin-top: 25%;
}
.bg-insert{
    width: 100%;
    height: 100%;
}
.bg-camera-icon{
    text-align: center;
    margin: 1% 0% 0% 0%;
    border-bottom-width: 2px;
    border-color: rgb(218, 214, 214);
    width: 100%;
    height: 20%;
}
.bg-txt-name{
    text-align: center;
    border-bottom-width: 2px;
    border-color: rgb(218, 214, 214);
    height: 8%;
}
.bg-txt-code{
    text-align: center;
    border-bottom-width: 2px;
    border-color: rgb(218, 214, 214);
    height: 8%;
}
.txt-name{
    width: 90%;
    height: 80%;
    border-width: 2px;
    border-color: rgb(173, 169, 169);
    border-radius: 5px;
}
.txt-code{
    width: 90%;
    height: 80%;
    border-width: 2px;
    border-color: rgb(173, 169, 169);
    border-radius: 5px;
}
.bg-txt-cat{
    text-align: center;
    border-bottom-width: 2px;
    border-color: rgb(218, 214, 214);
    height: 6%;
}
.txt-cat{
    width: 80%;
    height: 100%;
    margin-top: 2%;
}
.txt-cat-icon{
    font-size: 32px;
    text-align: center;
    background-color: rgb(137, 150, 223);
    width: 20%;
    color: white;
}
.bg-txt-des{
    text-align: center;
    border-bottom-width: 2px;
    border-color: rgb(218, 214, 214);
    height: 8%;
}
.txt-des{
    width: 90%;
    height: 80%;
    border-width: 2px;
    border-color: rgb(173, 169, 169);
    border-radius: 5px;
}

.bg-insert-obj{
    width: 80%;
    height:350px;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(175, 172, 172);
    margin-top: 15px;
    margin-bottom: 10px;
}
.add-item{
    width: 100%;
    height: 100px;
    background-color: rgb(212, 182, 212);
}
.bg-save-icon{
    text-align: center;
    border-bottom-width: 2px;
    border-color: rgb(218, 214, 214);
    height: 8%;
    font-size: 16px;
}
.save-icon{
    width: 25%;
    height: 90%;
    margin-top: 5%;
    background-color: rgb(107, 224, 146);
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 72%;
    line-height: 30%;
}
.save-txt{
    margin-top: 25%;
}
.icon-insert-detail{
    font-size: 16px;
    text-align: center;
    margin: 20% 0% 0% 8%;
    width: 20%;
}
.txt-insert-detail {
    width: 55%;
}
.bar-insert-detail {
    width: 100%;
    height: 20%;
    border-bottom-width: 2px;
    border-color: rgb(218, 214, 214);
}
.copy-icon {
    font-size: 24px;
    text-align: center;
    width:33.33%;
    height: 100%;
    color: rgb(98, 183, 223);
    border-right-width: 2px;
    border-left-width: 2px;
    border-color: rgb(218, 214, 214);
    margin-top: 20%;
}
.plus-icon{
    font-size: 24px;
    text-align: center;
    width: 33.33%;
    height: 100%;
    color: rgb(241, 79, 57);
    margin-top: 20%;
}
.minus-icon{
    font-size: 24px;
    text-align: center;
    width: 33.33%;
    height: 100%;
    color: rgb(173, 169, 169);
    margin-top: 20%;
}
.pic-pro {
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* dlg */
.lg-dialog {
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    visibility: collapse;
}
.lg-dialog .dialog {
    /* background-image: url('~/images/bg.png'); */
    background-position: center;
    background-size: cover;
    border-radius: 4;
    width: 280;
    height: 400;
    margin: 48 auto;
    background-color: #fff;
    flex-direction: column;
}
.dialog .title{
    position: center;
    width: 100%;
    height: 40;
    padding:0;
    margin-bottom: 8;
    flex-shrink: 0;
    border-bottom-width: 2px;   
    border-color: rgb(185, 185, 185);
}

.title .text {
    font-size: 20;
    color: black;
    margin: 0;
    padding: 6 8 0 8;
    flex-grow: 1;
}
.close {
    text-align: center;
    font-size:18px;
    color:rgba(116, 114, 114, 0.863);
    width: 16%;
    margin-top: 10%;
}

.content {
    flex-grow: 1;
}
.actions {
    flex-shrink: 0;
    color: rgb(78, 71, 71);
    margin: 0 0;
    height: 50;
}

.header{

    
}

.actions .action {
    flex-grow: 1;
}
/* dlg */

.cat-name{
    font-size: 16px;
}